@import 'variables';

.order-form {
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media (min-width: $tablet) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__submit {
    margin-top: 1.5rem;
    width: 100%;

    @media (min-width: $tablet) {
      width: auto;
    }
  }
}